<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About NZC</title>
</head>
<body>
    <h1>What is Net Zero Calcualtor?</h1>
    <p>To add text here</p>
    <h1>How to use it?</h1>
    <p>To add text here</p>
    <h1>How does it work?</h1>
    <p>To add text here</p>
    <h1>Who are behind Net Zero Calcualtor?</h1>
    <p>To add text here</p>
    <a href="/">Back to Home</a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <p>&copy; 2025 Net Zero Calculator <a href="about">About</a></p>
    </footer>
</body>