<!--This is the base of all html files for our application-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <header>
        <a href="/" id = "logo">
            <h1>Net Zero Calculator</h1>
        </a>
    </header>
    <nav>
        <a href="about" class="text-clickable">About Us</a>
    </nav>
    
    <main>
        <hr>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Net Zero Calculator <a href="about" class="text-clickable"><small>About</small></a></p>
    </footer>
</body>

{% block scripts %}
{% endblock %}