<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Net Zero Calcualtor</title>
</head>
<body>
    <h1>Net Zero Calculator</h1>
    <hr>
    <h3>Welcome to the Net Zero Calculator!</h3>
    <p> Your journey to a sustainable future starts here. This tool helps your business understand its climate impact by analyzing emissions and offering tailored insights. Make informed, sustainable decisions and take real steps toward net zero. Let's build a thriving future together.</p>
    <hr>
    <h3>Drop your report here!</h3>
    <form action="results" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Choose a PDF:</label>
        <input type="file" name="file" id="file" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>

    <h3>Click here for manual data input:</h3>
    <a href="manual"><button type="submit">Manual data input</button></a>


    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>
    <footer>
        <p>&copy; 2025 Net Zero Calculator <a href="about">About</a></p>
    </footer>
</body>