{% extends "base.html" %}
{% block title %}
    <title>Net Zero Calculator - Manual Input</title>
{% endblock %}

{% block content %}
    <div class="container-center">
        <h2>Manual Data Input</h2>
        <form action="results" method="POST" class="container-center">
            {% csrf_token %}

            <div class="grid-container">
                {% for i in scopes %}
                <div>
                    <label for="scope{{i}}">Scope {{i}}:</label>
                </div>
                <div>
                    <input type="number" name="scope{{i}}" id="scope{{i}}" required placeholder="enter a number"><br>
                    <small>ton CO₂e </small><br><br>
                </div>
                {% endfor %}
            
                <div>
                    <label for="profit">Profit:</label>
                </div>
                <div>
                    <input type="number" name="profit" id="profit" required placeholder="enter a number"><br>
                    <small>in Millions SEK </small><br><br>
                </div>
            </div>

            <button type="submit">Submit</button>
        </form>
        <br>
        <a href="/"><button class="">Back to Home</button></a>
    </div>
{% endblock %}
